.page-title {
  padding-block: clamp(66.667px, 5.208vw, 100px);
  font-size: clamp(70px, 5.4vw, 104px);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 72%;
}

.main-message {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(13.333px, 1.042vw, 20px);
  padding-block: clamp(20px, 1.563vw, 30px) clamp(80px, 6.25vw, 120px);
}

.main-message-title {
  max-width: 83%;
}

.main-message-content {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  gap: clamp(26.667px, 2.083vw, 40px);
  font-weight: 500;
  font-size: clamp(32px, 2.5vw, 48px);
  line-height: 90%;
  text-transform: uppercase;
}

.directions {
  background-color: var(--color-bright);
  padding-block: clamp(80px, 6.25vw, 120px) clamp(106.667px, 8.333vw, 160px);
}

.advantages {
  background-color: var(--color-lavender);
  padding-block: clamp(80px, 6.25vw, 120px) clamp(106.667px, 8.333vw, 160px);
}

.directions-wrapper,
.advantages-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(13.333px, 1.042vw, 20px);
}

.directions-title,
.advantages-title {
  font-size: clamp(53px, 4.15vw, 80px);
  font-weight: 700;
  line-height: 72%;
  max-width: 66%;
  text-transform: uppercase;
}

.directions-content,
.advantages-content {
  display: flex;
  flex-direction: column;
  gap: clamp(40px, 3.125vw, 60px);
}

.directions-wrapper > *,
.advantages-wrapper > * {
  max-width: 66%;
}

.directions-list,
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: clamp(26.667px, 2.083vw, 40px);
  font-weight: 700;
  font-size: clamp(32px, 2.5vw, 48px);
  line-height: 80%;
  text-transform: uppercase;
}

.directions-item,
.advantages-item {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 1.25vw, 24px);
}

.directions-item span,
.advantages-item span {
  padding: clamp(5.333px, 0.417vw, 8px) clamp(10.667px, 0.833vw, 16px)
    clamp(5.333px, 0.417vw, 8px) clamp(5.333px, 0.417vw, 8px);
  width: fit-content;
  cursor: default;
  border-radius: 2px;
}

.photo {
  width: 100%;
  height: 100svh;
  max-height: clamp(613.333px, 47.917vw, 920px);
}

.photo figure {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.1);
  transition: var(--transition);
}

@media (hover: hover) {
  .photo:hover img {
    transform: scale(1);
  }
}

@media screen and (max-width: 1280px) {
  .main-message-content {
    /* 768px -> 24px, 1280px -> 28px */
    font-size: clamp(24px, calc(18px + 0.781vw), 28px);
  }

  .photo {
    /* 768px -> 640px, 1280px -> 720px */
    max-height: clamp(640px, calc(520px + 15.625vw), 720px);
  }
}

@media screen and (max-width: 768px) {
  .page-title {
    /* 393px -> 35/50, 768px -> 100/100 */
    padding-block: clamp(35px, calc(-33.12px + 17.333vw), 100px)
      clamp(50px, calc(-2.4px + 13.333vw), 100px);
  }

  .main-message {
    /* 393px -> 60px, 768px -> 120px */
    padding-bottom: clamp(60px, calc(-2.88px + 16vw), 120px);
  }

  .main-message-content {
    /* 393px -> 24px, 768px -> 24px */
    font-size: 24px;
  }

  .directions,
  .advantages {
    /* 393px -> 60px, 768px -> 120px */
    padding-block: clamp(60px, calc(-2.88px + 16vw), 120px);
  }

  .photo {
    /* На 768 уже 640px в предыдущем диапазоне */
    max-height: 640px;
  }

  .photo img {
    transform: none;
  }
}

@media screen and (max-width: 480px) {
  .main-message {
    grid-template-columns: 1fr;
  }

  .directions-wrapper,
  .advantages-wrapper {
    grid-template-columns: 1fr;
  }
}
