section.favorites {
  padding-block: clamp(53.333px, calc(26.667px + 2.604vw), 80px);
  display: flex;
  flex-direction: column;
  gap: clamp(40px, calc(20px + 10vw), 60px);
}

.favorites-accordion {
  font-size: clamp(21.333px, calc(10.667px + 0.521vw), 32px);
  font-weight: 400;
  line-height: 80%;
  padding-inline: 8px;
  border-top: 2px solid black;
  text-transform: uppercase;
  transition: var(--transition);
}

.favorites-accordion[open] {
  padding-bottom: 40px;
}

.favorites-accordion-content {
  display: flex;
  flex-direction: column;
  gap: clamp(13.333px, calc(6.667px + 0.313vw), 20px);
  width: 100%;
  overflow: hidden;
  transition:
    height 0.35s ease,
    margin-top 0.35s;
  margin-top: clamp(13.333px, calc(6.667px + 0.313vw), 20px);
}

.favorites-accordion-content.is-closed {
  margin-top: 0;
}

.favorites-accordion summary {
  position: relative;
  padding-top: 24px;
  padding-bottom: 40px;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.favorites-accordion[open] summary {
  padding-bottom: 0;
}

.favorites-accordion summary::marker {
  display: none;
  font-size: 0;
}

.favorites-accordion summary::-webkit-details-marker {
  display: none;
  font-size: 0;
}

.favorites-accordion summary::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../assets/images/plus.svg") center/contain no-repeat;
  transition: all 0.25s;
}

.favorites-accordion[open] summary::after {
  background: url("../assets/images/minus.svg") center/contain no-repeat;
}

.favorites-list {
  display: flex;
  gap: 12px;
  row-gap: 40px;
  transition: var(--transition);
  flex-wrap: wrap;
}

.favorites-empty-text {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 24px;
  line-height: 90%;
  text-transform: uppercase;
  color: #00000066;
  max-width: 600px;
  padding-top: 40px;
}

.favorites-item article {
  display: contents;
}

.favorites-item {
  transition: var(--transition);
  width: calc((100% - 60px) / 6);
}

.favorites-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: default;
}

.favorites-card-image {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}

.favorites-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.1);
  transition: var(--transition);
}
.favorites-card-actions {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 4px;
  opacity: 0;
  transition: var(--transition);
}

@media (hover: hover) {
  .favorites-card:hover .favorites-card-actions {
    opacity: 1;
  }
}

.favorites-card-actions button {
  width: clamp(32px, 2.5vw, 48px);
  height: clamp(32px, 2.5vw, 48px);
  background-color: #00000029;
  border-radius: 4px;
  position: relative;
  backdrop-filter: blur(5px);
  z-index: 3;
  cursor: pointer;
  transition: var(--transition);
}

@media (hover: hover) {
  .favorites-card-actions button:hover {
    opacity: 0.7;
  }
}

.favorites-card-actions .addtocart.active {
  background-color: black;
}

.favorites-card-actions .favorites.active {
  background-color: var(--color-vodka);
}

.favorites-card-actions button::before {
  content: "";
  width: clamp(26px, 2vw, 40px);
  height: clamp(26px, 2vw, 40px);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favorites-card-actions .addtocart::before {
  background: url("../assets/images/plus-white.svg") center/contain no-repeat;
}

.favorites-card-actions .addtocart.active::before {
  background: url("../assets/images/minus-white.svg") center/contain no-repeat;
}

.favorites-card-actions .favorites::before {
  background: url("../assets/images/heart.svg") center/contain no-repeat;
}

.favorites-card-image .new {
  font-family: var(--font-secondary);
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 90%;
  background-color: black;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: var(--transition);
}

.favorites-card-info {
  display: flex;
  padding-right: 5px;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  gap: 7px;
}

.favorites-card-name {
  padding: 0;
  width: 60%;
  text-wrap: wrap;
  gap: 0;
  align-items: flex-start;
  text-transform: none;
}

.favorites-card-name svg {
  flex-shrink: 0;
  margin-top: 2px;
}

.favorites-card-volume {
  font-family: var(--font-secondary);
  display: inline-block;
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 75%;
  color: #00000066;
  text-wrap: nowrap;
  text-transform: uppercase;
  transition: var(--transition);
}

.favorites-card-price {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

.favorites-card-oldprice {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-decoration: line-through;
  color: #00000066;
}

@media (hover: hover) {
  .favorites-card:hover .favorites-card-image img {
    transform: scale(1);
  }

  .favorites-card:hover .favorites-card-image .new {
    opacity: 0;
  }

  .favorites-card:hover .favorites-card-volume {
    transform: translateX(100%);
    opacity: 0;
    width: 0;
  }

  .favorites-card:hover .favorites-card-name {
    gap: 8px;
  }

  .favorites-card:hover .favorites-card-name svg {
    width: 16px;
  }
}

.favorites-list-actions {
  padding-block: 40px;
  display: flex;
  gap: 12px;
}

.favorites-list-actions button:disabled {
  background-color: white;
  color: var(--color-lightgrey);
  border: 2px solid var(--color-lightgrey);
}

.favorites-list-actions button:disabled svg path {
  stroke: var(--color-lightgrey);
}

.favorites-list-actions .delete svg {
  animation: fade-in 1s;
}

.favorites-list-actions .delete .hover {
  display: none;
}

@media (hover: hover) {
  .favorites-list-actions .delete:not(:disabled):hover .default {
    display: none;
  }

  .favorites-list-actions .delete:not(:disabled):hover .hover {
    display: block;
  }
}

.favorites-create-new {
  width: fit-content;
  text-transform: uppercase;
}

.favorites-menu-wrapper {
  padding: 0 30px 30px 30px;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.favorites-menu-content {
  display: none;
  gap: 30px;
  height: 100%;
}

.favorites-menu-content.is-visible {
  display: grid;
  grid-template-rows: 100px auto 60px;
}

.favorites-menu-form {
  max-width: 450px;
}

.favorites-menu-form input {
  width: 100%;
  border: 2px solid var(--color-lightgrey);
  border-radius: var(--radius-sm);
  color: black;
  background-color: white;
  font-family: var(--font-primary);
  text-transform: uppercase;
  height: clamp(37.333px, 2.917vw, 56px);
  padding: clamp(5.333px, 0.417vw, 8px) clamp(8px, 0.625vw, 16px);
  font-size: clamp(16px, calc(8px + 0.833vw), 24px);
  line-height: 80%;
  font-weight: 400;
  transition: var(--transition);
}

.favorites-menu-form input:disabled {
  background-color: var(--color-bright);
  cursor: not-allowed;
  color: #00000066;
  -webkit-text-fill-color: #00000066;
  opacity: 1;
}

.favorites-menu-form input::placeholder {
  color: black;
  font-weight: 400;
}

.favorites-menu-form input:focus {
  outline: none;
  border-color: black;
}

@media (hover: hover) {
  .favorites-menu-form input:hover {
    outline: none;
    border-color: black;
  }

  .favorites-menu-form input:disabled:hover {
    border-color: var(--color-lightgrey);
  }
}

.favorites-menu-form input:not(:placeholder-shown) {
  border-color: black;
}

.favorites-menu-actions {
  text-transform: uppercase;
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: flex-end;
}

.favorites-menu-content.is-success .favorites-menu-form,
.favorites-menu-content.is-success .favorites-menu-actions {
  display: none;
}

@media screen and (max-width: 1700px) {
  .favorites-card-volume {
    font-size: 15px;
  }

  .favorites-card-price,
  .favorites-card-oldprice {
    font-size: 18px;
  }

  .favorites-menu-wrapper {
    padding: 0 20px 20px 20px;
  }
}

@media screen and (max-width: 1440px) {
  .favorites-item {
    width: calc((100% - 48px) / 5);
  }
}

@media screen and (max-width: 1280px) {
  .favorites-card-volume {
    font-size: 14px;
  }

  .favorites-card-price,
  .favorites-card-oldprice {
    font-size: 16px;
  }

  .favorites-menu-wrapper {
    padding: 0 18px 18px 18px;
  }

  .favorites-menu-wrapper h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .favorites-item {
    width: calc((100% - 36px) / 4);
  }

  .favorites-card-info {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .favorites-card-name {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .favorites-item {
    width: calc((100% - 12px) / 2);
  }

  .favorites-list-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .favorites-card-actions {
    top: 10px;
    left: 10px;
    bottom: auto;
  }
}

@media screen and (max-width: 480px) {
  .favorites-list-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
