.hero {
  text-transform: uppercase;
  background: url("/assets/images/video-preview.jpg") center/cover no-repeat;
  height: 100svh;
  max-height: 980px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5%;
}

.hero-title {
  font-size: 160px;
  line-height: 80%;
  font-weight: 700;
  text-align: center;
}

.wrapper {
  height: 100svh;
  max-height: 980px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.about-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-title {
  color: var(--color-lightgrey);
}

.about-statistic-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-weight: 400;
  font-size: 64px;
  line-height: 80%;
  column-gap: 20px;
  row-gap: 50px;
}

.about-statistic-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 450px;
  gap: 30px;
  cursor: default;
}

.about-statistic-number {
  font-size: 160px;
  font-weight: 600;
  line-height: 80%;
  width: fit-content;
  transition: var(--transition);
}

.about-more {
  height: fit-content;
  align-self: flex-end;
  transition: var(--transition);
}

.categories-content {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.categories-list {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: fit-content;
  background-color: var(--color-bright);
  position: relative;
}

.categories-item {
  width: 100%;
  color: black;
  padding: 40px;
  cursor: pointer;
  transition: var(--transition);
}

.categories-item:hover {
  color: white;
  background-color: black;
  width: 110%;
}

.categories-item-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.categories-item svg {
  width: 0;
  height: 80px;
  opacity: 0;
  overflow: hidden;
  flex-shrink: 0;
  transition: var(--transition);
}

.categories-item:hover svg {
  width: 80px;
  opacity: 1;
}

.categories-item:hover svg path {
  stroke: white;
}

.categories-item-image {
  width: 0;
  height: 600px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  opacity: 0;
  transition: var(--transition);
  overflow: hidden;
  box-shadow: 3.04px 6.07px 36.42px 12.14px #0000000a;
}

.categories-item:hover .categories-item-image {
  width: 600px;
  opacity: 1;
}

.categories-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories-item-image-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: var(--color-lavender);
  z-index: 1;
}

.categories-item-image-active-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  /* z-index: 2; */
}

.categories-more {
  height: fit-content;
}

.description-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.description-text {
  text-align: left;
  cursor: default;
}

.description-text-accent {
  color: var(--color-lightgrey);
}

.description-text-accent:hover {
  color: var(--color-lavender);
}

.collections {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;
}

.collections-title {
  text-transform: uppercase;
}

.collections-slider-wrapper {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}

.collections-list {
  display: flex;
  flex-shrink: 0;
}

.collections-item {
  width: 450px;
  margin-right: 15px;
}

.collections-item-content {
  gap: 15px;
  width: 100%;
  height: 100%;
}

.collections-item-image {
  width: 100%;
  height: 560px;
  overflow: hidden;
  border-radius: var(--radius-sm);
}

.collections-item-image img {
  transform: scale(1.1);
}

.collections-item-name {
  padding-inline: 10px;
  font-size: 20px;
}

.collections-item-name svg {
  width: 16px;
  height: 16px;
}

.collections-slider-controls {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.collections-slider-controls-buttons {
  display: flex;
  gap: 10px;
}

.collections-slider-controls-btn {
  padding: 16px;
}

.collections-more {
  text-transform: uppercase;
}

.services {
  height: 100svh;
  max-height: 980px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.services-content {
  display: flex;
  justify-content: space-between;
}

.services-text {
  width: 48%;
}

.services-list {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.services-item {
  border-top: 2px solid black;
  width: 100%;
}

.services-item-content {
  display: inline-block;
  padding: 24px 0 48px 12px;
  font-size: 40px;
  font-weight: 400;
  line-height: 80%;
  width: 100%;
  height: 100%;
  transition: var(--transition);
  position: relative;
}

.services-item-image {
  width: 0;
  height: 240px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: var(--radius-sm);
  overflow: hidden;
  transition: var(--transition);
}

.services-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (any-hover: hover) {
  .services-item-content:hover .services-item-image {
    width: 240px;
  }
}

.news-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news-list {
  display: flex;
  gap: 15px;
}

.news-item {
  width: 450px;
  height: 100%;
}

.news-item article {
  display: contents;
}

.news-item-content {
  width: 100%;
  height: 100%;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.news-item-date {
  color: var(--color-lightgrey);
}

.news-item-image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.news-item-image img {
  transform: scale(1.1);
}

.news-item-name {
  padding: 10px;
  margin-bottom: 7px;
}

.news-item-name svg {
  width: 16px;
  height: 16px;
}

.news-item-description {
  max-width: 100%;
  text-wrap: wrap;
}

.feedback {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 120px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.feedback-form-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #ffffff29;
  backdrop-filter: blur(8px);
  padding: 40px 30px 20px 30px;
  border: 2px solid white;
  border-radius: 40px;
  text-transform: uppercase;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
  max-width: 400px;
}

.feedback-form input {
  width: 100%;
  padding: 8px 12px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: var(--radius-sm);
  text-transform: none;
}

.feedback-form input::placeholder {
  color: black;
  text-transform: uppercase;
}

.feedback-form-button {
  transition: var(--transition);
  justify-content: flex-start;
  width: fit-content;
}

.feedback-text {
  color: white;
  font-size: 48px;
  font-weight: 500;
  line-height: 72%;
  align-self: flex-end;
  text-align: right;
}

.feedback-cursor {
  background-image: radial-gradient(circle, #a698d5, var(--color-lavender));
  filter: blur(50px);
  width: 650px;
  height: 650px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: -1;
  transform: translate(-50%, -50%);
  left: 65%;
  top: 80%;
}

@media screen and (max-width: 1700px) {
  .hero-title,
  .about-statistic-number {
    font-size: 130px;
  }

  .about-statistic-list {
    font-size: 52px;
  }

  .categories-item {
    padding: 30px;
  }

  .categories-item-image {
    height: 520px;
  }
  .categories-item:hover .categories-item-image {
    width: 520px;
  }

  .collections-item {
    width: 320px;
  }

  .collections-item-image {
    height: 400px;
  }

  .news-item {
    width: 350px;
  }

  .news-item-content {
    font-size: 13px;
  }
}

@media screen and (max-width: 1440px) {
  .wrapper {
    max-height: 800px;
  }

  .services {
    max-height: 800px;
  }
}

@media screen and (max-width: 1280px) {
  .hero-title,
  .about-statistic-number {
    font-size: 100px;
  }

  .about-statistic-list {
    font-size: 42px;
  }

  .categories-list {
    margin-left: 7%;
  }
  .categories-item {
    padding: 18px;
  }

  .categories-item-image {
    height: 450px;
  }

  .categories-item:hover .categories-item-image {
    width: 450px;
  }

  .collections-item {
    width: 300px;
  }

  .collections-item-image {
    height: 380px;
  }

  .collections-slider-controls-btn {
    padding: 12px;
  }

  .news-item {
    width: 320px;
  }

  .news-item-name {
    margin-bottom: 3px;
  }

  .feedback {
    padding-block: 90px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-height: 650px;
  }

  .hero {
    max-height: 650px;
  }

  .services {
    max-height: 650px;
  }

  .hero-title,
  .about-statistic-number {
    font-size: 80px;
  }

  .about-content {
    flex-direction: column;
    justify-content: space-between;
    padding-block: 50px;
    height: 100%;
  }

  .categories-content {
    flex-direction: column;
    padding-block: 50px;
    height: 100%;
  }

  .categories-list {
    flex-direction: row;
    overflow-x: auto;
    margin: 0;
    gap: 15px;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    padding-bottom: 35px;
  }

  .categories-item {
    background-color: var(--color-bright);
    padding: 0;
  }

  .categories-item a {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 320px;
    height: 370px;
    overflow: hidden;
  }

  .categories-item svg {
    width: 0;
    height: 35px;
    opacity: 0;
    overflow: hidden;
    flex-shrink: 0;
    transition: var(--transition);
  }

  .categories-item a:active svg {
    width: 35px;
  }

  .categories-item-name {
    padding: 7px 10px;
  }

  .categories-item-image {
    position: static;
    max-width: 100%;
    width: 100%;
    opacity: 1;
    aspect-ratio: 1/1;
    transform: none;
    overflow: visible;
    height: auto;
  }

  .categories-item-image-active,
  .categories-item-image-active-2 {
    display: none;
  }

  .collections-slider-controls-btn {
    padding: 10px;
  }

  .services-item-content {
    font-size: 32px;
  }

  .news-content {
    flex-direction: column;
    height: 100%;
    padding-block: 15px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .hero-title,
  .about-statistic-number {
    font-size: 64px;
  }

  .about-statistic-list {
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: 40px;
  }

  .about-statistic-item {
    gap: 10px;
  }

  .collections-slider-controls {
    flex-direction: column;
    margin-top: -40px;
    gap: 40px;
  }

  .collections-slider-controls-buttons {
    align-self: flex-end;
  }

  .services-content {
    flex-direction: column;
    gap: 75px;
  }

  .services-text {
    width: 100%;
  }

  .services-list {
    width: 100%;
  }

  .services-item-content {
    font-size: 24px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0 22px 6px;
  }

  .news-list {
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-bottom: 10px;
  }

  .news-item {
    width: 320px;
    flex-shrink: 0;
  }

  .feedback-form {
    max-width: 340px;
  }

  .feedback-text {
    font-size: 32px;
    font-weight: 400;
  }

  .feedback {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 360px) {
  .wrapper {
    min-height: auto;
    height: auto;
    padding-block: 30px;
    max-height: none;
  }
}
