.services {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding-block: clamp(80px, 6.25vw, 120px);
  gap: clamp(53.333px, 4.167vw, 80px);
}

.services-title {
  text-transform: uppercase;
  font-size: clamp(122px, 9.58vw, 184px);
  font-weight: 700;
  line-height: 72%;
}

.services-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(26px, 2vw, 40px);
}

.services .accordion-group-single {
  padding-block: clamp(43.3px, 3.38vw, 65px);
}

.services-accordion {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  font-size: clamp(32px, 2.5vw, 48px);
  font-weight: 500;
  line-height: 80%;
  width: 100%;
  transition: var(--transition);
  padding-inline: 8px;
}

.services-accordion[open] {
  padding-bottom: clamp(26px, 2vw, 40px);
  color: white;
  background-color: black;
  border-radius: 2px;
}

.services-accordion summary {
  padding-block: clamp(26px, 2vw, 40px) clamp(53px, 4vw, 80px);
  transition: var(--transition);
  cursor: pointer;
  display: flex;
  gap: clamp(16px, 1.25vw, 24px);
}

.services-accordion summary svg {
  width: clamp(26px, 2vw, 40px);
  height: clamp(26px, 2vw, 40px);
}

.services-accordion summary svg path {
  transition: var(--transition);
}
@media (hover: hover) {
  .services-accordion:hover {
    color: white;
    background-color: black;
    border-radius: 2px;
  }

  .services-accordion:hover summary svg path {
    stroke: white;
  }
}

.services-accordion[open] summary {
  padding-bottom: clamp(26px, 2vw, 40px);
}

.services-accordion[open] summary svg path {
  stroke: white;
}

.services-accordion-content {
  width: 65%;
  overflow: hidden;
  transition:
    height 0.35s ease,
    margin-top 0.35s;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: clamp(42.667px, 3.333vw, 64px);
  padding-left: clamp(42.667px, 3.333vw, 64px);
  align-items: flex-start;
}

.services-accordion-content.is-closed {
  margin-top: 0;
}

.services-accordion-content a:hover {
  border: 2px solid white;
}

.services-images-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1.08;
  isolation: isolate;
  overflow: hidden;
}

.services-images-container {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.35s ease;
  pointer-events: none;
}

.services-images-container.active {
  opacity: 1;
  pointer-events: auto;
}

.services-images-item {
  position: absolute;
  overflow: hidden;
  border-radius: 2px;
  transform-origin: center center;
}

.services-images-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-images-item:nth-child(1) {
  top: 0;
  right: 18%;
  z-index: 3;
  width: 45%;
  aspect-ratio: 1;
}
.services-images-item:nth-child(2) {
  top: 25%;
  left: 0;
  z-index: 1;
  width: 45%;
  aspect-ratio: 1;
}
.services-images-item:nth-child(3) {
  bottom: 0;
  right: 7%;
  z-index: 2;
  width: 67%;
  aspect-ratio: 1.6;
}

@media screen and (max-width: 1280px) {
  .services {
    height: auto;
  }

  .services-content {
    padding-block: 100px;
  }

  .services-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 1024px) {
  .services-item-content {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .services-content {
    flex-direction: column;
    gap: 40px;
    padding-block: 30px 120px;
  }

  .services-text {
    width: 100%;
    font-size: 24px;
  }

  .services-list {
    width: 100%;
  }

  .services-item-content {
    font-size: 24px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0 22px 6px;
  }
}
